[Unit]
Description=Starts and stops the Omniscient test client
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
User=omniscient
RestartSec=1
Restart=always
ExecStart=/home/omniscient/omniscient/worker.py -f -u https://marjory.sunet.se/probemaster
[Install]
WantedBy=multi-user.target
