<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omniscient</title>
    <style>
      #hosts {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
      }

      #hosts td, #hosts th {
	  border: 1px solid #ddd;
	  padding: 8px;
      }

      #hosts tr:nth-child(even){background-color: #f2f2f2;}

      #hosts tr:hover {background-color: #ddd;}

      #hosts th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #04AA6D;
	  color: white;
      }
    </style>
</head>
<body>
  <table id="hosts">
    <tr>
      <th>Hostname</th>
      <th>Time</th>
      <th>Check</th>
      <th>Result</th>
    </tr>
    {% for result in results %}
    <td>{{ results[result]["hostname"] }}</td>
    <td>{{ results[result]["timestamp"] }}</td>
    <td>{{ results[result]["check"] }}</td>

    {% if results[result]["result"] == "fail" %}
    <td bgcolor="green">{{ results[result]["result"] }}</td>
    {% else %}
    <td>{{ results[result]["result"] }}</td>    
    {% endif %}
    {% endfor %}
  </div>
  </table>  
</body>
</html>
